*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

.new-sign-in,
.go-to-player {
  /* margin: auto auto; */
  z-index: 99;
  margin: 3rem;
}

.new-sign-in a,
.new-sign-in a:visited,
.go-to-player a,
.go-to-player a:visited {
  text-decoration: none;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
  font-size: 3em;
  color: white;
  cursor: pointer;
}

.new-sign-in__spotify,
.go-to-player__player{
  color: #1ed760;
  text-shadow: 1px 1px 5px #1e96d7;
}



.video-player {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: fill;
}
