# App Environment 
export VISUALIZER_API_ENV=development
export VISUALIZER_API_PORT=8080
export VISUALIZER_SPOTIFY_ID=359684478ead43e6a83aeedc49cd77ce
export VISUALIZER_SPOTIFY_SECRET=9f1ac15204ea4f27bd8febb7b57430e1
