*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

.video-player {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  background-color: #111111;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.trackInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex-shrink: 0;
}

.trackInfo {
  font-size: 1.5rem;
  padding-left: 3rem;
  z-index: 2;
  color: white;
  text-shadow: black -1px 1px 5px;
  font-weight: normal;

  /*
          Dynamic Inverted Text color
      */
  /*background: inherit;*/
  /*background-clip: text;*/
  /*color: transparent;*/
  /*filter: invert(1) grayscale(1) contrast(8);*/
}

.spotifyLogoContainer {
  height: 100%;
  z-index: 20;
  object-fit: contain;
  width: 300px;
  min-height: 183px;
  /* overflow: hidden; */
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spotify-linkback-button {
  height: 50%;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}


.spotifyLogo {
  height:100%;
  width: 100%;
  object-fit: scale-down;
  overflow: hidden;
  /* filter: opacity(0.5); */
}


.focusable {
  padding: 1rem;
}

.focusable:focus {
  outline: thick double #32a1ce;
  border-radius: 1rem;
}

.focusable:hover {
  filter: drop-shadow(0px 0px 20px #777)
}

.artworkContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artwork {
  position: relative;
  /* aspect-ratio: 1 / 1; */
  max-height: 60%;
  height: auto;
  height: 100%;
  flex-grow: 1;
  /* border-radius: 3px; */
  /* filter: brightness(0.8); */

  box-shadow: 0px 0px 100px 10px #777;
  /*
      if you want to make the blur match the image,
      simply add a blurred copy of the image behind it
      that's slightly larger ;)
  */
}



.back-button-container {
  height: 100px;
  padding: 2rem 0 0 3rem;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.back-button-container button {
  height: 100%;
  border: none;
  padding: 0px;
  background-color: transparent;
}

.back-button-container svg {
  height: 100%;
  background-color: transparent;
  padding: 0px;
  border: none;
  /* color: white; */
  font-size: 200px;
}
